@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
    --main-color: #1f66b8;
    --secondary-color: rgb(47, 67, 100);
    --tertiary-color: #b3e4fa;
    --secondary-dark-color: rgb(53, 86, 139);
    --color-1: #e91e63;
    --color-2: #f5ae10;
    --color-3: #09d69c;
    --color-4: #1b9cfc;
    --bg-dark: #222222;
    --gradient-to-dark-color1: var(--secondary-color);
    --gradient-to-dark-color2: var(--main-color);
    --main-to-dark-color: var(--secondary-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
    --black: #3d4344;
    --black-900: #000000;
    --black-400: #555555;
    --black-100: #f7f7f7;
    --black-000: #ffffff;
    --white-900: #000000;
    --black-alpha-100: rgba(0, 0, 0, 0.05);
}

body {
    font-family: "Inter", sans-serif;
}

.capitalize {
    text-transform: capitalize;
}

li {
    list-style: none;
}

.select2 {
    width: 100%;
}

.navbar-foto {
    aspect-ratio: 1/1;
}

.btn-logout-nav {
    font-size: 0.8rem;
    cursor: pointer;
}

.btn-group {
    display: flex;
    justify-content: end;
}

.card-body form .search-data {
    width: 65%;
}

/* surat */
.btn-group-action {
    position: absolute;
    height: 60px;
    right: 0;
    top: 10%;
}
.tombol-detail-surat {
    position: absolute;
    border-radius: 100% 0% 0% 100% / 100% 48% 52% 0%;
    right: 0;
    top: 5%;
    z-index: 99;
}

.tombol-detail-surat i {
    position: relative;
    left: 10%;
}

.tombol-edit-surat {
    position: absolute;
    border-radius: 100% 0% 100% 0% / 0% 100% 0% 100%;
    right: 0;
    top: 62%;
    z-index: 99;
}

.tombol-hapus-surat {
    position: absolute;
    border-radius: 100% 0% 0% 100% / 0% 100% 0% 100%;
    right: 0;
    top: 115%;
    z-index: 99;
}

.tombol-hapus-surat i {
    position: relative;
    left: 10%;
}

.foto-user {
    width: 230px;
    height: 230px;
    margin-top: 10px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 3px solid rgba(179, 97, 97, 0.39);
}

.img-preview {
    min-width: 150px;
    max-width: 150px;
    border: 1px solid black;
    border-radius: 10px;
    aspect-ratio: 1/1;
    margin: auto;
}

.btn-1 {
    background-color: rgb(73, 165, 165);
    padding: 5px;
    border: none;
    color: #eee;
    border-radius: 30px;
    font-size: 14px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    font-weight: 500;
    position: relative;
    overflow: hidden;
}

.icon-btn-1 {
    position: absolute;
    left: -20%;
    right: -20%;
    top: 20%;
    z-index: 2;
    bottom: 0;
    transition: all 0.2s ease-in-out;
    font-size: 17px;
    opacity: 0;
    color: #eee;
}

.btn-1:hover .icon-btn-1 {
    transform: scale(1.1);
    opacity: 1;
}

.btn-1::before {
    content: "";
    background: teal;
    position: absolute;
    color: #eee;
    z-index: 1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.btn-1:hover::before {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.btn-1 span {
    transition: all 0.2s ease-in-out;
    margin: auto;
}

.btn-1:hover span {
    opacity: 0;
    transform: scale(-1);
}

.btn-hapus-foto {
    bottom: 12.5%;
    right: 55%;
    left: 48%;
    margin-left: 1px;
}

.view-password-icon {
    position: absolute;
    right: 3%;
    top: 22%;
    font-size: 1.2rem;
    z-index: 999;
}

/*--------------------
Footer
--------------------*/

.footer-col h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 25px;
    text-transform: capitalize;
}

.footer-slogan .slogan {
    color: white;
    padding: 30px;
}

.school-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-school-logo {
    font-size: 1.4rem;
    font-weight: 600;
}

.socmed-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.4s ease-in-out;
}

.btn-socmed-footer {
    background-color: var(--black-100);
    padding: 20px;
    margin-right: 30px;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 14px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
    position: relative;
    overflow: hidden;
}

.icon-btn-socmed-footer {
    position: absolute;
    left: -20%;
    right: -20%;
    top: 20%;
    z-index: 2;
    bottom: 0;
    transition: all 0.2s ease-in-out;
    font-size: 17px;
    color: var(--black-400);
}

.btn-socmed-footer:hover .icon-btn-socmed-footer {
    transform: scale(1.2);
    color: var(--black-100);
    opacity: 1;
}

.btn-socmed-footer::before {
    content: "";
    background: linear-gradient(60deg, var(--i), var(--j));
    position: absolute;
    z-index: 1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.btn-socmed-footer:hover::before {
    transform: skewX(-45deg) scale(2, 2);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.footer .copyright-text {
    margin: 25px 0 0;
    padding: 15px 0;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 570px) {
    .btn-group {
        margin-top: 10px;
        justify-content: center;
    }
    .foto-user {
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .card-body form .search-data {
        width: 100%;
    }
    .judul-page {
        text-align: center;
    }
    .social-pages {
        display: none;
    }
    .footer-slogan {
        display: none;
    }
}
