.btn-logout-nav {
    font-size: 0.8rem;
    cursor: pointer;
}

.card-body form .search-data {
    width: 65%;
}

@media screen and (max-width: 570px) {
    .judul-page {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .card-body form .search-data {
        width: 100%;
    }
}
